body {
	background: #121212;
	color: #eee;
	margin: 0;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

main {
	max-width: 980px;
	margin: 0 auto;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Top level header - site title */
body > header {
	width: 100%;
	background: #3f51b5;
	margin: 0 0 32px 0;
	padding: 0px;
}

body > header > h1 {
	margin: 0;
	padding: 4px 32px;
}
body > header > h1 > a {
	text-decoration: none;
	color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: #eee;
	margin: 10px 0;
}

body > footer {
	text-align: center;
	margin: 32px;
}

a {
	color: #3f51b5;
}

img {
	max-width: 100%;
	height: auto;
	border-style: none;
	vertical-align: middle;
}

article {
	background: rgba(255, 255, 255, 0.05);
	/* Rounded corners */
	border-radius: 8px;
	padding: 16px;
	margin: auto;
	text-align: center!important;
}

/* Links styled as buttons */
.linkbutton {
	background-color: #3f51b5;
	color: #eee;
	width: auto;
	border: none;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 16px;
	margin: 16px!important;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.linkbutton:hover {
	color: #fff!important;
	background-color: #6471b8!important;
}

.projects {
	display: grid;
	grid-template-columns: auto;
	row-gap: 32px;
}