<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="header">
    <a href="{{ site.url }}"><h1>{{ site.title }}</h1></a>
  </div>

  {{ content }}
  
  <div class="footer">
    <div class="footerleft">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      / <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        {% else %}
          / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="footerright">Copyright &copy; {{site.time | date: '%Y'}} <a href="http://github.com/{{site.social-github}}" target="_blank">{{site.author}}</a></div>
     
    <div style="clear: both;"></div>
  </div>

</body>
</html>
