
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">
	<meta name="keywords" content="costa, gui, jacob, palm, qbasic, vbdos, visual, basic, walrus, hvalrossen, vb, qb, quickbasic, dos, shell, pascal">
	<meta name="author" content="Jacob Palm">

	<base href="{{ site.baseURL }}">

	<link rel="stylesheet" href="{{ site.baseURL }}/assets/jpdk.css">
	
	<link rel="canonical" href="{{ site.baseURL }}">
	<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseURL }}/feed.xml">
</head>
<body id="sitetop">
	<header>
		<h1><a href="{{ site.baseURL }}">{{ site.name }}</a></h1>
	</header>

	<!-- Content -->
	<main>
		<article>
			<header>
				<h2>{{ page.title }}</h2>
			</header>
			{{ content }}
		</article>
	</main>

	<!-- Footer -->
	<footer>
		<div>
			&copy; {{ 'now' | date: "%Y" }} Jacob Palm
		</div>
	</footer>

</body>

</html>
