
<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
	<title>{{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="author" content="{{ site.author }}">

	<base href="{{ site.baseURL }}">

	<link rel="stylesheet" href="{{ site.baseURL }}/assets/jpdk.css">
	
	<link rel="canonical" href="{{ site.baseURL }}">
</head>
<body id="sitetop">
	<header>
		<h1><a href="{{ site.baseURL }}">{{ site.name }}</a></h1>
	</header>

	<!-- Content -->
	<main>
		<article>
			<header>
				<h2>{{ page.title }}</h2>
			</header>
			{{ content }}
		</article>
	</main>

	<!-- Footer -->
	<footer>
		<div>
			&copy; {{ 'now' | date: "%Y" }} {{ site.author }}
		</div>
	</footer>

</body>

</html>
