---
layout: main
---

<div class="subheading">
  The {% assign day = page.date | date: "%-d"  %}
  {% case day %}
    {% when '1' or '21' or '31' %}{{ day }}st
    {% when '2' or '22' %}{{ day }}nd
    {% when '3' or '23' %}{{ day }}rd
    {% else %}{{ day }}th
  {% endcase %}
  {{ page.date | date: "of %B, %Y" }}
</div>

{{content | markdownify}}

<p class="buttonbar">
  <a href="{{ site.url }}/posts">Back&nbsp;to&nbsp;posts</a>
  <a href="{{ site.url }}">Go&nbsp;to&nbsp;front&nbsp;page</a>
</p>