---
layout: main
---

<div class="subheading">
  The {% assign day = page.date | date: "%-d"  %}
  {% case day %}
    {% when '1' or '21' or '31' %}{{ day }}st
    {% when '2' or '22' %}{{ day }}nd
    {% when '3' or '23' %}{{ day }}rd
    {% else %}{{ day }}th
  {% endcase %}
  {{ page.date | date: "of %B, %Y" }}
</div>

{{content | markdownify}}

<div class="row">
  <div class="col-12 menulinks">
    <a href="{{ site.url }}/posts">&lt; Back to posts &gt;</a>
    <a href="{{ site.url }}/">&lt; Go to front page &gt;</a>
  </div>
</div>