---
layout: main
---

<div class="subheading">
  {% assign months = "Januar|Februar|Marts|April|Maj|Juni|Juli|August|September|Oktober|November|December" | split: "|" %}
  {% assign m = page.date | date: "%-m" | minus: 1 %}
  {% assign day = page.date | date: "%d" %}
  {% assign month = months[m] %}
  {% assign year = page.date | date: "%Y" %}
  Den {{ day }}. {{ month }}, {{ year }}
</div>

{{content | markdownify}}

<div class="row">
  <div class="col-12 menulinks">
    <a href="{{ site.url }}/posts">&lt; Tilbage til alle indlæg &gt;</a>
    <a href="{{ site.url }}/">&lt; Tilbage til forsiden &gt;</a>
  </div>
</div>